.grid {
  border: 2px solid #747d8c;
  background-color: #ced6e0;
  padding: 1em;
}
.col {
  border: 1px solid white;
}
.col-4 {
  border: 1px solid white;
}
.col-2 {
  border: 1px solid white;
  text-align: center;
}
.getBackground {
  padding: 2px;
  font-size: small;
  font-weight: bolder;
  text-align: center;
}
